# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course: [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20) instead.

**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [6]:
#int
1 + 1

2

In [7]:
1 * 3

3

In [8]:
#returns floating point (must make floating point in input for Python 2)
1 / 2

0.5

In [9]:
#exp
2 ** 4

16

In [10]:
#modulus
4 % 2

0

In [11]:
5 % 2

1

In [12]:
#clarify order of operations
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [13]:
# CANNOT start with number or special characters
name_of_var = 2

#use underscore to seperate words

In [1]:
x = 2
y = 3
z = x + y
z

5

### Strings

In [17]:
'single quotes'

'single quotes'

In [18]:
#still string
"double quotes"

'double quotes'

In [18]:
#wrap single quotes w/in double quotes to keep it (wrap double quotes w/in single quotes)
#could also use ESC chars?
" wrap lot's of other quotes"

" wrap lot's of other quotes"

In [19]:
s = 'asbdefghikj';
s[0:]

'asbdefghikj'

In [20]:
#grab everything up to and not including index 3 (starting at index 0)

s[:3]

'asb'

In [22]:
s[2:5]

'bde'

### Printing

In [20]:
x = 'hello'

In [21]:
x

'hello'

In [22]:
#this is how you OFFICIALLY display results in Python
print(x)

hello

In [5]:
num = 12
name = 'Sam'

In [6]:
#Print Formatting

print('My number is: {one}, and my name is: {two}'.format(one=num,two=name));

print('My number is: {}, and my name is: {}'.format(num,name));

My number is: 12, and my name is: Sam
My number is: 12, and my name is: Sam

### Lists

In [26]:
[1,2,3]

[1, 2, 3]

In [27]:
#can have different data types (different than vectors in R, which is all same data type)

['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [7]:
#add to list

my_list = ['a','b','c']
my_list.append('d')
my_list

['a', 'b', 'c', 'd']

In [15]:
#also 0-indexed

my_list[0]

'a'

In [32]:
my_list[1]

'b'

In [33]:
my_list[1:]

['b', 'c', 'd']

In [34]:
my_list[:1]

['a']

In [35]:
#replace 1st item in list (index 0) because lists are MUTABLE

my_list[0] = 'NEW'

In [98]:
my_list

['NEW', 'b', 'c', 'd']

In [99]:
#can nest lists w/in each other

nest = [1,2,3,[4,5,['target']]]

In [100]:
#grab the list

nest[3]

[4, 5, ['target']]

In [101]:
#grab the 3rd item from the list (4th item)

nest[3][2]

['target']

In [102]:
#grab the only element within that 3rd list 

nest[3][2][0]

'target'

### Dictionaries

In [37]:
#dictionary = key-value pairs (KV-pairs)

d = {'key1':'item1','key2':'item2'}

In [38]:
d

{'key1': 'item1', 'key2': 'item2'}

In [39]:
#get value from key1 key
d['key1']

'item1'

In [4]:
#can have almost anything has a dictionary value, like a list

l = {'k1':[1,2,3],'k2':'abc','k3':5}
l['k1']

[1, 2, 3]

In [5]:
#can then access items of the list in the KV-pair

l['k1'][2]

3

In [10]:
#can nest dictionaries

d = {'outerKey':{'innerKey1':1,'innerKey2':['a','b',3]}}
d['outerKey']['innerKey2']

['a', 'b', 3]

In [11]:
d['outerKey']['innerKey2'][1]

'b'

In [12]:
#access whole inner dictionary (nested dictionary)

d['outerKey']

{'innerKey1': 1, 'innerKey2': ['a', 'b', 3]}

### Booleans

In [40]:
True

True

In [41]:
False

False

### Tuples

In [42]:
#tuples are like lists but with parentheses, but tuples are IMMUTABLE (cannot change values/reassign item values)

t = (1,2,3)

In [43]:
#get 1st item from tuple

t[0]

1

In [44]:
#cannot reassign items - use tuples to stop users from changing list items

t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [17]:
#set = collection of UNIQUE elements

s = {1,2,3}
s

{1, 2, 3}

In [46]:
#reduced multiple elements to a single one because their main characteristic is UNIQUENESS

{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [13]:
#grab unique elements from a list w/ set() function

set([1,1,1,1,1,1,2,2,2,2,2,2,3,3,3,3,7,7,7,7,7,7,10,10,])

{1, 2, 3, 7, 10}

In [20]:
#add something to a set

s.add(5)
s.add('five')
s

{1, 2, 3, 5, 'five'}

In [21]:
#try to add 5 again
s.add(5)
s

{1, 2, 3, 5, 'five'}

## Comparison Operators

In [47]:
1 > 2

False

In [48]:
1 < 2

True

In [49]:
1 >= 1

True

In [50]:
1 <= 4

True

In [51]:
1 == 1

True

In [52]:
'hi' == 'bye'

False

In [22]:
'hi' == 'hi'

True

## Logic Operators

In [53]:
(1 > 2) and (2 < 3)

False

In [54]:
(1 > 2) or (2 < 3)

True

In [55]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [56]:
if 1 < 2:
    print('Yep!')

Yep!

In [57]:
if 1 < 2:
    print('yep!')

yep!

In [58]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [59]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [60]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [23]:
seq = [1,2,3,4,5]

In [62]:
for item in seq:
    print(item)

1
2
3
4
5

In [24]:
for i in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [64]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [65]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [66]:
range(5)

range(0, 5)

In [67]:
for i in range(5):
    print(i)

0
1
2
3
4

In [68]:
#pass return results from range() into list() to get a list from 0 to 4

list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [69]:
#list comprehension allows you to save a bunch of time and writing when trying to create a FOR loop to make a list

x = [1,2,3,4]

In [70]:
#square each element in x and add to "out" list w/ a FOR loop

out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [71]:
#NOW do it w/ LIST COMPREHENSION --> like a FOR loop backwards

[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [26]:
#can set default values for parameters in functions

def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [27]:
#ssee my_func is of type 'function'

my_func

In [74]:
my_func()

default

In [75]:
my_func('new param')

new param

In [28]:
my_func(param1='new param2')

new param2

In [29]:
def square(x=3):
    return x**2

In [32]:
square()

9

In [30]:
out = square(2)

In [33]:
print(out)

4

In [39]:
#make DOCSTRINGS with triple "'s --> multi-line comments
#to view docstring, start typing function name, then hit SHIFT+TAB

def my_name(name='Insert Name Here'):
    """ 
    Adds users name to a string sentence
    """
    print('Hello, ' + name)
    
my_name()

Hello, Insert Name Here

In [40]:
my_name('Steve')

Hello, Steve

## lambda expressions

In [43]:
def times2(var):
    return var*2

In [81]:
times2(2)

4

In [82]:
lambda var: var*2

## map and filter

In [45]:
seq = [1,2,3,4,5]

In [46]:
map(times2,seq)

In [47]:
#map is like apply in R --> applies 1st arg to each element in 2nd arg (list)
#must pass to list to get the results

list(map(times2,seq))

[2, 4, 6, 8, 10]

In [48]:
#don't have to completely define a function, can use LAMBDA expression = ANONYMOUS FUNCTION
#replicated 'def' structure, but removes 'def' and 'return' words to simplify it
#will be used a lot with pandas to make, clean, 1-line code

list(map(lambda var: var*2, seq))

[2, 4, 6, 8, 10]

In [87]:
#filter is like map, but filters elements out of a sequence
#get all numbers in seq that have a modulus of 0 when divided by 2 (even numbers)
#only returns TRUE values

filter(lambda item: item%2 == 0, seq)

In [49]:
list(filter(lambda item: item%2 == 0, seq))

[2, 4]

## methods

In [111]:
#methods = calls to make to an object to affect the object or return a result
#such as lower and upper methods

st = 'hello my name is Sam'

In [112]:
st.lower()

'hello my name is sam'

In [113]:
st.upper()

'HELLO MY NAME IS SAM'

In [103]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [104]:
tweet = 'Go Sports! #Sports'

In [106]:
#split does not return what we split on

tweet.split('#')

['Go Sports! ', 'Sports']

In [107]:
#grab hashtags from tweets

tweet.split('#')[1]

'Sports'

In [92]:
d

{'key1': 'item1', 'key2': 'item2'}

In [93]:
d.keys()

dict_keys(['key2', 'key1'])

In [94]:
d.items()

dict_items([('key2', 'item2'), ('key1', 'item1')])

In [51]:
lst = [1,2,3]

In [52]:
#pop will 'pop' the last item off of a list and return it --> PERMANENT CHANGE
lst.pop()

3

In [53]:
lst

[1, 2]

In [54]:
#can store popped items into variables

item2 = lst.pop()
item2

2

In [55]:
lst

[1]

In [56]:
#can pop off indexes
lst = [1,2,3]
lst.pop(1)

2

In [109]:
'x' in [1,2,3]

False

In [110]:
'x' in ['x','y','z']

True

In [57]:
#list of tuples
lst = [(1,2),(3,4),(5,6)]
lst

[(1, 2), (3, 4), (5, 6)]

In [58]:
#grab items from inner tuples
lst[0][1]

2

In [61]:
#tuple unpacking - good for iterating through a list of tuples
#list of tuples is a common result format in Python

for i in lst:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [62]:
#UNPACK 1st element in each tuple
for (a,b) in lst:
    print(a)

1
3
5

In [65]:
#UNPACK 2nd element in each tuple
for a,b in lst:
    print(b)

2
4
6

# Great Job!