___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# DataFrames

**DataFrames** are the *true workhorse of pandas* and are directly inspired by R. Think of a DataFrame as a *bunch* of Series objects put together to share the *same* index.

In [1]:
import pandas as pd
import numpy as np

In [2]:
#create random seed
from numpy.random import randn
np.random.seed(101)

In [3]:
#create a DF with DataFrame() with a data argument of 5 rows, 4 cols, of random numbers from a normal distribution, give them 
# indexes A-E, and SPLIT them, then give them columns of W-Z and SPLIT them as well
# SPLIT creates a list by splitting the string on spaces to create the elements

df = pd.DataFrame(randn(5,4),['A,','B','C','D','E'],['W','X','Y','Z'])
#df2 = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
df

           W         X         Y         Z
A,  2.706850  0.628133  0.907969  0.503826
B   0.651118 -0.319318 -0.848077  0.605965
C  -2.018168  0.740122  0.528813 -0.589001
D   0.188695 -0.758872 -0.933237  0.955057
E   0.190794  1.978757  2.605967  0.683509

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [4]:
#grab 1 col
df['W']

A,    2.706850
B     0.651118
C    -2.018168
D     0.188695
E     0.190794
Name: W, dtype: float64

In [5]:
# grab multiple cols via a list of column names
df[['W','Z']]

           W         Z
A,  2.706850  0.503826
B   0.651118  0.605965
C  -2.018168 -0.589001
D   0.188695  0.955057
E   0.190794  0.683509

In [6]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A,    2.706850
B     0.651118
C    -2.018168
D     0.188695
E     0.190794
Name: W, dtype: float64

### DataFrame Columns are just Series that share a common index

In [7]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [8]:
#add a new col made up of the sum of W and Y
df['new'] = df['W'] + df['Y']
df

           W         X         Y         Z       new
A,  2.706850  0.628133  0.907969  0.503826  3.614819
B   0.651118 -0.319318 -0.848077  0.605965 -0.196959
C  -2.018168  0.740122  0.528813 -0.589001 -1.489355
D   0.188695 -0.758872 -0.933237  0.955057 -0.744542
E   0.190794  1.978757  2.605967  0.683509  2.796762

** Removing Columns**

In [12]:
#delete a COLUMN (axis = 1) since default axis = 0, which refers to the index (row)
df.drop('new',axis=1)

           W         X         Y         Z
A,  2.706850  0.628133  0.907969  0.503826
B   0.651118 -0.319318 -0.848077  0.605965
C  -2.018168  0.740122  0.528813 -0.589001
D   0.188695 -0.758872 -0.933237  0.955057
E   0.190794  1.978757  2.605967  0.683509

In [13]:
# CHANGES ARE NOT INPLACE UNLESS SPECIFIED!
# see no change below
df

           W         X         Y         Z       new
A,  2.706850  0.628133  0.907969  0.503826  3.614819
B   0.651118 -0.319318 -0.848077  0.605965 -0.196959
C  -2.018168  0.740122  0.528813 -0.589001 -1.489355
D   0.188695 -0.758872 -0.933237  0.955057 -0.744542
E   0.190794  1.978757  2.605967  0.683509  2.796762

In [11]:
#specify to remove the col
df.drop('new',axis=1,inplace=True)
df

           W         X         Y         Z
A,  2.706850  0.628133  0.907969  0.503826
B   0.651118 -0.319318 -0.848077  0.605965
C  -2.018168  0.740122  0.528813 -0.589001
D   0.188695 -0.758872 -0.933237  0.955057
E   0.190794  1.978757  2.605967  0.683509

Can also drop **rows** in this way:

In [197]:
#drop row E
df.drop('E', axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

** Selecting Rows**

In [198]:
#returns a data-frame-looking object = a SERIES, where what was once cols are now rows, via loc[rowIndex] = LOCATION
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

Or select based off of *position* instead of label

In [15]:
#grab row 3/C via iloc[] --> index location --> RETURNS A SERIES
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

** Selecting subset of rows and columns **

In [200]:
#select the value in location of row B in column Y
df.loc['B','Y']

-0.84807698340363147

In [201]:
#grab square slice of DF via 2 lists (multiple rows + multiple cols)
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

### Conditional Selection

An important feature of pandas is **conditional selection** using bracket notation, very similar to numpy:

In [12]:
df

           W         X         Y         Z
A,  2.706850  0.628133  0.907969  0.503826
B   0.651118 -0.319318 -0.848077  0.605965
C  -2.018168  0.740122  0.528813 -0.589001
D   0.188695 -0.758872 -0.933237  0.955057
E   0.190794  1.978757  2.605967  0.683509

In [13]:
#return booleans if greater than 0
df > 0

        W      X      Y      Z
A,   True   True   True   True
B    True  False  False   True
C   False   True   True  False
D    True  False  False   True
E    True   True   True   True

In [14]:
#return actual values if greater than 0
df[df > 0]

           W         X         Y         Z
A,  2.706850  0.628133  0.907969  0.503826
B   0.651118       NaN       NaN  0.605965
C        NaN  0.740122  0.528813       NaN
D   0.188695       NaN       NaN  0.955057
E   0.190794  1.978757  2.605967  0.683509

In [15]:
#another way to return actual values if greater than 0 = more work b/c 2 steps
boolDF = df > 0;
df[boolDF]

           W         X         Y         Z
A,  2.706850  0.628133  0.907969  0.503826
B   0.651118       NaN       NaN  0.605965
C        NaN  0.740122  0.528813       NaN
D   0.188695       NaN       NaN  0.955057
E   0.190794  1.978757  2.605967  0.683509

In [16]:
#more common way of doing the above is passing in row or col names which returns only rows and cols where condition is true
# no NaNs are returned

#see which rows in col W are greater than 0
df['W'] > 0

A,     True
B      True
C     False
D      True
E      True
Name: W, dtype: bool

In [18]:
#return the data frame but only with rows where values of col W in that row is > 0 --> NO ROW C
df[df['W'] > 0]

           W         X         Y         Z
A,  2.706850  0.628133  0.907969  0.503826
B   0.651118 -0.319318 -0.848077  0.605965
D   0.188695 -0.758872 -0.933237  0.955057
E   0.190794  1.978757  2.605967  0.683509

In [19]:
#grab col Y from filtered data frame that only returned rows where value in Col W > 0

df[df['W']>0]['Y']

A,    0.907969
B    -0.848077
D    -0.933237
E     2.605967
Name: Y, dtype: float64

In [207]:
#grab cols Y and X from filtered data frame that only returned rows where value in Col W > 0

df[df['W']>0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

For two conditions you can use | and & with parenthesis:

In [208]:
#return only rows where value in col W > 0 and value in Col Y > 1  -> only Row E
# need to use & and |,  not 'and' and 'or', since 'and' and 'or' only deal with singular boolean values, not series

df[(df['W'] > 0) & (df['Y'] > 1)]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [20]:
df

           W         X         Y         Z
A,  2.706850  0.628133  0.907969  0.503826
B   0.651118 -0.319318 -0.848077  0.605965
C  -2.018168  0.740122  0.528813 -0.589001
D   0.188695 -0.758872 -0.933237  0.955057
E   0.190794  1.978757  2.605967  0.683509

In [210]:
# Reset to default 0,1...n index via reset_index() method
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [24]:
newIndx = 'CA NY WY OR CO'.split()

In [27]:
#add new States col w/ values from newIndx vector
df['States'] = newIndx
df

           W         X         Y         Z States
A,  2.706850  0.628133  0.907969  0.503826     CA
B   0.651118 -0.319318 -0.848077  0.605965     NY
C  -2.018168  0.740122  0.528813 -0.589001     WY
D   0.188695 -0.758872 -0.933237  0.955057     OR
E   0.190794  1.978757  2.605967  0.683509     CO

In [214]:
#move States col to be the new index
df.set_index('States')

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

In [215]:
#see the change was not in place
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [28]:
df.set_index('States',inplace=True)
df

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

## Multi-Index and Index Hierarchy

Let us go over how to work with **Multi-Index**, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [253]:
# Create 2 Index Levels
outsideIndx = ['G1','G1','G1','G2','G2','G2']
insideIndx = [1,2,3,1,2,3]

hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [254]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [257]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.153661  0.167638
   2 -0.765930  0.962299
   3  0.902826 -0.537909
G2 1 -1.549671  0.435253
   2  1.259904 -0.447898
   3  0.266207  0.412580

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [260]:
df.loc['G1']

          A         B
1  0.153661  0.167638
2 -0.765930  0.962299
3  0.902826 -0.537909

In [263]:
df.loc['G1'].loc[1]

A    0.153661
B    0.167638
Name: 1, dtype: float64

In [265]:
df.index.names

FrozenList([None, None])

In [266]:
df.index.names = ['Group','Num']

In [267]:
df

                  A         B
Group Num
G1    1    0.153661  0.167638
      2   -0.765930  0.962299
      3    0.902826 -0.537909
G2    1   -1.549671  0.435253
      2    1.259904 -0.447898
      3    0.266207  0.412580

In [270]:
df.xs('G1')

            A         B
Num
1    0.153661  0.167638
2   -0.765930  0.962299
3    0.902826 -0.537909

In [271]:
df.xs(['G1',1])

A    0.153661
B    0.167638
Name: (G1, 1), dtype: float64

In [273]:
df.xs(1,level='Num')

              A         B
Group
G1     0.153661  0.167638
G2    -1.549671  0.435253

# Great Job!