In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# load in data 
movies = pd.read_csv('C:/ml-20m/movies.csv', sep = ',')
#tags = pd.read_csv('C:/ml-20m/tags.csv', sep = ',')
ratings = pd.read_csv('C:/ml-20m/ratings.csv', sep = ',', parse_dates = ['timestamp'])

In [23]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [24]:
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [32]:
# all animated movies
animated = movies[movies['genres'].str.contains('Animation')]
animated.shape

(1027, 3)

In [33]:
# all animated CHILDREN's  movies
animated_children = animated[animated['genres'].str.contains('Children')]
animated_children.shape

(470, 3)

In [34]:
animated_children.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
12,13,Balto (1995),Adventure|Animation|Children
47,48,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
236,239,"Goofy Movie, A (1995)",Animation|Children|Comedy|Romance
241,244,Gumby: The Movie (1995),Animation|Children

In [35]:
# all animated NON-CHILDREN's  movies
animated_adult = animated[~animated['genres'].str.contains('Children')]
animated_adult.shape

(557, 3)

In [36]:
animated_adult.head()

,movieId,title,genres
388,392,"Secret Adventures of Tom Thumb, The (1993)",Adventure|Animation
604,610,Heavy Metal (1981),Action|Adventure|Animation|Horror|Sci-Fi
708,720,Wallace & Gromit: The Best of Aardman Animatio...,Adventure|Animation|Comedy
728,741,Ghost in the Shell (Kôkaku kidôtai) (1995),Animation|Sci-Fi
1128,1151,Faust (1994),Animation|Comedy|Thriller

In [37]:
animated_children = pd.merge(animated_children, ratings, on = 'movieId', how = 'inner')
animated_children.head(10)

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,944919407
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,5.0,858275452
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,833981871
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,4.0,943497887
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5,1230858821
5,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,12,4.0,859063718
6,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13,4.0,849082891
7,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,14,4.5,1225311239
8,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,16,3.0,990969772
9,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,5.0,855176628

In [38]:
animated_adult = pd.merge(animated_adult, ratings, on = 'movieId', how = 'inner')
animated_adult.head(10)

,movieId,title,genres,userId,rating,timestamp
0,392,"Secret Adventures of Tom Thumb, The (1993)",Adventure|Animation,298,1.0,992545537
1,392,"Secret Adventures of Tom Thumb, The (1993)",Adventure|Animation,358,1.0,868840936
2,392,"Secret Adventures of Tom Thumb, The (1993)",Adventure|Animation,609,4.0,1131798793
3,392,"Secret Adventures of Tom Thumb, The (1993)",Adventure|Animation,1581,5.0,875922590
4,392,"Secret Adventures of Tom Thumb, The (1993)",Adventure|Animation,1831,5.0,846421792
5,392,"Secret Adventures of Tom Thumb, The (1993)",Adventure|Animation,1879,1.0,955192933
6,392,"Secret Adventures of Tom Thumb, The (1993)",Adventure|Animation,1931,4.0,848774098
7,392,"Secret Adventures of Tom Thumb, The (1993)",Adventure|Animation,2857,3.0,978970591
8,392,"Secret Adventures of Tom Thumb, The (1993)",Adventure|Animation,3210,3.0,1119396859
9,392,"Secret Adventures of Tom Thumb, The (1993)",Adventure|Animation,3674,3.0,841859417

In [41]:
# count the # of movie ID's for each value of rating
# i.e. group the movie ID's by the rating value and then sum them up for each rating value
animated_adult[['movieId','rating']].groupby('movieId').count().head(5)

         rating
movieId
392         275
610        7845
720        8171
741        7072
1151        368