<h1>Create DataFrames</h1>

In [140]:
from pandas import DataFrame, Series

countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
             'Netherlands', 'Germany', 'Switzerland', 'Belarus',
             'Austria', 'France', 'Poland', 'China', 'Korea', 
             'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
             'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
             'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]

def create_dataframe(countries,medal1,medal2,medal3):

    olympic_medal_counts_df = pd.DataFrame({'country_name': Series(countries),
                                        'gold': Series(medal1),
                                        'silver': Series(medal2),
                                        'bronze': Series(medal2),})

    return olympic_medal_counts_df

create_dataframe(countries,gold,silver,bronze)

    bronze    country_name  gold  silver
0       11    Russian Fed.    13      11
1        5          Norway    11       5
2       10          Canada    10      10
3        7   United States     9       7
4        7     Netherlands     8       7
5        6         Germany     8       6
6        3     Switzerland     6       3
7        0         Belarus     5       0
8        8         Austria     4       8
9        4          France     4       4
10       1          Poland     4       1
11       4           China     3       4
12       3           Korea     3       3
13       7          Sweden     2       7
14       4  Czech Republic     2       4
15       2        Slovenia     2       2
16       4           Japan     1       4
17       3         Finland     1       3
18       1   Great Britain     1       1
19       0         Ukraine     1       0
20       0        Slovakia     1       0
21       2           Italy     0       2
22       2          Latvia     0       2
23       2       Australia     0       2
24       1         Croatia     0       1
25       0      Kazakhstan     0       0

<h1>NumPy Arrays</h1>

In [141]:
import numpy as np

# First 20 countries with employment data
countries = np.array([
    'Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
    'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia',
    'Bosnia and Herzegovina'
])

# Employment data in 2007 for those 20 countries
employment = np.array([
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076
])

#return name of country w/ highest employment in given employment data
def max_employment(countries, employment):

    max_country = countries[np.argmax(employment)]
    max_value = employment.max()

    return (max_country, max_value)

max_employment(countries,employment)

('Angola', 75.699996949999999)

In [144]:
for country in countries:
    print('Examining country {}'.format(country))
print()
for i in range(len(countries)):
    print('Country {} has employment {}'.format(countries[i],employment[i]))

Examining country Afghanistan
Examining country Albania
Examining country Algeria
Examining country Angola
Examining country Argentina
Examining country Armenia
Examining country Australia
Examining country Austria
Examining country Azerbaijan
Examining country Bahamas
Examining country Bahrain
Examining country Bangladesh
Examining country Barbados
Examining country Belarus
Examining country Belgium
Examining country Belize
Examining country Benin
Examining country Bhutan
Examining country Bolivia
Examining country Bosnia and Herzegovina

Country Afghanistan has employment 55.70000076
Country Albania has employment 51.40000153
Country Algeria has employment 50.5
Country Angola has employment 75.69999695
Country Argentina has employment 58.40000153
Country Armenia has employment 40.09999847
Country Australia has employment 61.5
Country Austria has employment 57.09999847
Country Azerbaijan has employment 60.90000153
Country Bahamas has employment 66.59999847
Country Bahrain has employment 60.40000153
Country Bangladesh has employment 68.09999847
Country Barbados has employment 66.90000153
Country Belarus has employment 53.40000153
Country Belgium has employment 48.59999847
Country Belize has employment 56.79999924
Country Benin has employment 71.59999847
Country Bhutan has employment 58.40000153
Country Bolivia has employment 70.40000153
Country Bosnia and Herzegovina has employment 41.20000076

<h1>Standardizing Data</h1>

In [153]:
country_name = 'United States'

def standardize_data(values):
    # return a standardized version of the given values, = # of standard deviations that value is away from the mean 
    #   of the data.
    
    standard_data = (values - values.mean())/values.std()
    
    return standard_data

standardize_data(employment)
for i in range(len(countries)):
    print('Country {} has standardized employment {}'.format(countries[i],standardize_data(employment)[i]))

Country Afghanistan has standardized employment -0.3196523083838568
Country Albania has standardized employment -0.7801229992206772
Country Algeria has standardized employment -0.8765007667751364
Country Angola has standardized employment 1.822071810562803
Country Argentina has standardized employment -0.03051941478986332
Country Armenia has standardized employment -1.9901976846285574
Country Australia has standardized employment 0.30144772304471396
Country Austria has standardized employment -0.1697318367251522
Country Azerbaijan has standardized employment 0.23719615107828448
Country Bahamas has standardized employment 0.8475873135738095
Country Bahrain has standardized employment 0.18365303790465493
Country Bangladesh has standardized employment 1.008216653094698
Country Barbados has standardized employment 0.8797135091618392
Country Belarus has standardized employment -0.565950546526159
Country Belgium has standardized employment -1.0799647606768548
Country Belize has standardized employment -0.20185762217293615
Country Benin has standardized employment 1.383018445310105
Country Bhutan has standardized employment -0.03051941478986332
Country Bolivia has standardized employment 1.254515301377246
Country Bosnia and Herzegovina has standardized employment -1.872402590419114

<h1>Pandas Series Quiz</h1>

In [2]:
import pandas as pd

countries = ['Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda',
             'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
             'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
             'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia']

life_expectancy_values = [74.7,  75. ,  83.4,  57.6,  74.6,  75.4,  72.3,  81.5,  80.2,
                          70.3,  72.1,  76.4,  68.1,  75.2,  69.8,  79.4,  70.8,  62.7,
                          67.3,  70.6]

gdp_values = [ 1681.61390973,   2155.48523109,  21495.80508273,    562.98768478,
              13495.1274663 ,   9388.68852258,   1424.19056199,  24765.54890176,
              27036.48733192,   1945.63754911,  21721.61840978,  13373.21993972,
                483.97086804,   9783.98417323,   2253.46411147,  25034.66692293,
               3680.91642923,    366.04496652,   1175.92638695,   1132.21387981]

In [3]:
# Life expectancy and gdp data in 2007 for 20 countries
life_expectancy = pd.Series(life_expectancy_values)
gdp = pd.Series(gdp_values)

In [84]:
def variable_correlation(variable1, variable2):

    # countries where both GDP and Life Exp are above the mean
    both_above = (variable1 > variable1.mean()) & \
                          (variable2 > variable2.mean())
    # countries where both GDP and Life Exp are below the mean      
    both_below = (variable1 < variable1.mean()) & \
                          (variable2 < variable2.mean()) 
    
    # countries where both GDP and Life Exp the same direction away from the mean 
    num_same_direction = (both_above | both_below).sum()
    # countries where GDP and Life Exp are in opposite directions from the mean        
    num_different_direction = len((both_above | both_below)) - num_same_direction
    
    return (num_same_direction, num_different_direction)

In [85]:
variable_correlation(life_expectancy,gdp)

(17, 3)

<h1>Series Index Quiz</h1>

In [90]:
import numpy as np
import pandas as pd

countries = ['Albania', 'Algeria', 'Andorra', 'Angola']

life_expectancy_values1 = np.array([74.7,  75. ,  83.4,  57.6])


life_expectancy_values2 = pd.Series([74.7,  75. ,  83.4,  57.6],
                                  index = ['Albania', 'Algeria', 'Andorra', 'Angola'])

In [91]:
print(life_expectancy_values1,'\n')
print(life_expectancy_values2)

[ 74.7  75.   83.4  57.6]

Albania    74.7
Algeria    75.0
Andorra    83.4
Angola     57.6
dtype: float64

In [92]:
print(life_expectancy_values2[1])
print(life_expectancy_values2.iloc[1])
print(life_expectancy_values2.loc['Algeria'],'\n')
print(life_expectancy_values1[1])
print(life_expectancy_values1.iloc[1])
print(life_expectancy_values1.loc['Algeria'])

75.0
75.0
75.0

75.0

AttributeError: 'numpy.ndarray' object has no attribute 'iloc'

<h3>QUIZ</h3>

In [93]:
countries = [
    'Afghanistan', 'Albania', 'Algeria', 'Angola',
    'Argentina', 'Armenia', 'Australia', 'Austria',
    'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
    'Barbados', 'Belarus', 'Belgium', 'Belize',
    'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',]

employment_values = [
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076,]

employment = pd.Series(employment_values, index = countries)

In [94]:
def max_employment(employment):
    max_country = employment.idxmax()     # get the index from the series specified above of the max employment rate
    max_value = employment.max()   
    
    return (max_country, max_value)

max_employment(employment)

('Angola', 75.699996949999999)

<h1>Vectorized Operations and Series Indexes</h1>

In [86]:
import pandas as pd

# indexes are the same
s1 = pd.Series([1, 2, 3, 4], index = ['a', 'b', 'c', 'd'])
s2 = pd.Series([10, 20, 30, 40], index = ['a', 'b', 'c', 'd'])
print(s1 + s2)

a    11
b    22
c    33
d    44
dtype: int64
a    31
b    12
c    43
d    24
dtype: int64

In [87]:
# Indexes have same elements in a different order
s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
s2 = pd.Series([10, 20, 30, 40], index=['b', 'd', 'a', 'c'])
print(s1 + s2)

a    31
b    12
c    43
d    24
dtype: int64

In [88]:
# indexes overlap but do not have same elements
s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
s2 = pd.Series([10, 20, 30, 40], index=['c', 'd', 'e', 'f'])
print(s1 + s2)

a     NaN
b     NaN
c    13.0
d    24.0
e     NaN
f     NaN
dtype: float64

In [89]:
# Indexes do not overlap
s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
s2 = pd.Series([10, 20, 30, 40], index=['e', 'f', 'g', 'h'])
print(s1 + s2)

a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
f   NaN
g   NaN
h   NaN
dtype: float64

<h1>Filling Missing Values</h1>

In [97]:
import pandas as pd

s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
s2 = pd.Series([10, 20, 30, 40], index=['c', 'd', 'e', 'f'])

print((s1+s2).dropna())

c    13.0
d    24.0
dtype: float64

In [98]:
print((s1+s2).fillna(0))

a     0.0
b     0.0
c    13.0
d    24.0
e     0.0
f     0.0
dtype: float64

In [110]:
print(s1.add(s2,fill_value=0))

a     1.0
b     2.0
c    13.0
d    24.0
e    30.0
f    40.0
dtype: float64

<h1>Apply</h1>

* used for performing computations not built into pandas
* takes a series + a function + applies the function to every element in the series to create a new series

In [135]:
import pandas as pd

names = pd.Series([
    'Andre Agassi',
    'Barry Bonds',
    'Christopher Columbus',
    'Daniel Defoe',
    'Emilio Estevez',
    'Fred Flintstone',
    'Greta Garbo',
    'Humbert Humbert',
    'Ivan Ilych',
    'James Joyce',
    'Keira Knightley',
    'Lois Lane',
    'Mike Myers',
    'Nick Nolte',
    'Ozzy Osbourne',
    'Pablo Picasso',
    'Quirinus Quirrell',
    'Rachael Ray',
    'Susan Sarandon',
    'Tina Turner',
    'Ugueth Urbina',
    'Vince Vaughn',
    'Woodrow Wilson',
    'Yoji Yamada',
    'Zinedine Zidane'])

def reverse_names(name):
    '''
    Fill in this function to return a new series where each name
    in the input series has been transformed from the format
    "Firstname Lastname" to "Lastname, FirstName".
    
    Try to use the Pandas apply() function rather than a loop.
    '''  
    return name.split()[1] + ', ' + name.split()[0]

names.apply(reverse_names)

0             Agassi, Andre
1              Bonds, Barry
2     Columbus, Christopher
3             Defoe, Daniel
4           Estevez, Emilio
5          Flintstone, Fred
6              Garbo, Greta
7          Humbert, Humbert
8               Ilych, Ivan
9              Joyce, James
10         Knightley, Keira
11               Lane, Lois
12              Myers, Mike
13              Nolte, Nick
14           Osbourne, Ozzy
15           Picasso, Pablo
16       Quirrell, Quirinus
17             Ray, Rachael
18          Sarandon, Susan
19             Turner, Tina
20           Urbina, Ugueth
21            Vaughn, Vince
22          Wilson, Woodrow
23             Yamada, Yoji
24         Zidane, Zinedine
dtype: object

<h1> Plotting in Pandas </h1>

In [ ]:
import pandas as pd
import seaborn as sns

# The following code reads all the Gapminder data into Pandas DataFrames

path = '/datasets/ud170/gapminder/'
employment = pd.read_csv(path + 'employment_above_15.csv', index_col='Country')
female_completion = pd.read_csv(path + 'female_completion_rate.csv', index_col='Country')
male_completion = pd.read_csv(path + 'male_completion_rate.csv', index_col='Country')
life_expectancy = pd.read_csv(path + 'life_expectancy.csv', index_col='Country')
gdp = pd.read_csv(path + 'gdp_per_capita.csv', index_col='Country')

# The following code creates a Pandas Series for each variable for the United States.
# You can change the string 'United States' to a country of your choice.

employment_us = employment.loc['United States']
female_completion_us = female_completion.loc['United States']
male_completion_us = male_completion.loc['United States']
life_expectancy_us = life_expectancy.loc['United States']
gdp_us = gdp.loc['United States']

# Uncomment the following line of code to see the available country names
# print employment.index.values

# Use the Series defined above to create a plot of each variable over time for
# the country of your choice. You will only be able to display one plot at a time
# with each "Test Run".

In [136]:
import pandas as pd
import seaborn as sns

# The following code reads all the Gapminder data into Pandas DataFrames

path = '/datasets/ud170/gapminder/'
employment = pd.read_csv(path + 'employment_above_15.csv', index_col='Country')
female_completion = pd.read_csv(path + 'female_completion_rate.csv', index_col='Country')
male_completion = pd.read_csv(path + 'male_completion_rate.csv', index_col='Country')
life_expectancy = pd.read_csv(path + 'life_expectancy.csv', index_col='Country')
gdp = pd.read_csv(path + 'gdp_per_capita.csv', index_col='Country')

# The following code creates a Pandas Series for each variable for the United States.
# You can change the string 'United States' to a country of your choice.

employment_us = employment.loc['United States']
female_completion_us = female_completion.loc['United States']
male_completion_us = male_completion.loc['United States']
life_expectancy_us = life_expectancy.loc['United States']
gdp_us = gdp.loc['United States']

# Uncomment the following line of code to see the available country names
# print employment.index.values

# Use the Series defined above to create a plot of each variable over time for
# the country of your choice. You will only be able to display one plot at a time
# with each "Test Run".

FileNotFoundError: File b'/datasets/ud170/gapminder/employment_above_15.csv' does not exist